#calculator {
    background: #f6bdaf;
    margin: 0 auto;
    padding: 35px 25px 35px 25px;
    width: 300px; 
    height: 600px;
    text-align: center;
  }
  #calculator button {
    padding: 50px;
    width: 100px;
    color: black;
    background-color: #fbe5df;
   
   
  }
  #calculator input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-bottom: 5px;
    color: black;
    background-color: #fbe5df;
  }
  :root {
    background-color:#f9d7cf;
    font-size: 60%;
  }
  
  * {
      box-sizing: border-box;
      color: #fdf1ef;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 0;
      margin: 0;
  
  }
  h1{
      font-size: 3cm;
  
  }
  h2{
      size: 10cm;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
  }
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .container > * {
    width: 100%;
  }
  .text-center {
    text-align: center;
  }
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  
  .justify-center {
    justify-content: flex-start;
  }
  
  
  